<h1><%= @album.name %></h1>
<% if @album.recording_type %>
  <p><%= @album.recording_type.capitalize %> Recording</p>
<% end %>

<h2>Band</h2>
<p><%= link_to @album.band.name, band_url(@album.band_id) %></p>

<h2>Tracks</h2>
<ul>
  <% @album.tracks.each do |track| %>
    <li>
      <%= link_to track.name, track %>
      <%= button_to "Delete this track", track, :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "View all Albums for this Band",
            band_albums_url(@album.band_id) %> | 
<%= link_to "Create an Track for this Album",
            new_album_track_url(@album) %> | 
<%= link_to "Edit this Album", edit_album_url(@album) %>