<h1>Create a New Secret!</h1>

<form action="<%= secrets_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

 <label for="secret_title">Title</label>
 <input type="text" name="secret[title]" value="<%= @secret.title %>"
        id="secret_title">
  </br>

 <label for="secret_recipient">Who would you like to share this with?</label>
 <select name="secret[recipient_id]" id="secret_recipient">
   <option></option>
   <% User.all.each do |recipient| %>
     <option value="<%= recipient.id %>"
        <%= "selected" if @secret.recipient_id == recipient.id %>>
       <%= recipient.username %>
     </option>
   <% end %>
 </select>

  <p><input type="submit" value="Create Secret!"></p>
</form>