<h1><%= @band.name %></h1>

<h2>Albums</h2>
<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album.name, album %>
      <% if current_user.admin %>
        <%= button_to "Delete this Album", album,
                      :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<% @albums.each do |album| %>
  <h2>Tracks</h2>
  <ul>
    <% album.tracks.each do |track| %>
      <li>
        <%= link_to track.name, track %>
        <% if current_user.admin %>
          <%= button_to "Delete this track", track,
                        :method => :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "View all Bands", bands_url %>
<% if current_user.admin  %>
   | 
  <%= link_to "Create an Album for this Band",
              new_band_album_url(@band) %> | 
  <%= link_to "Edit this Band", edit_band_url(@band) %>
<% end %>