<form action="<%= cat_rentals_url %>" method="post">
  <label for="cat_rental_id">Cats:</label>
  </br>
  <select id="cat_rental_id" name="cat_rental[cat_id]">
    <option></option>
    <% @cats.each do |cat| %>
      <option value="<%= cat.id %>" <%= "selected" if @cat_rental.cat_id == cat.id %>><%= cat.name %></option>
    <% end %>
  </select>
  </br>

  <label for="cat_rental_start_date">Start Date: </label>
  <input type="date" name="cat_rental[start_date]" id="cat_rental_start_date" value="<%= @cat_rental.start_date %>">
  </br>

  <label for="cat_rental_end_date">End Date: </label>
  <input type="date" name="cat_rental[end_date]" id="cat_rental_end_date" value="<%= @cat_rental.end_date %>">
  </br>

  <input type="submit" value="Rent a Cat!">
</form>