<!DOCTYPE html>
<html>
<head>
  <title>PracticeProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div>
    <% if current_user %>
      Hi <%= current_user.name %> 
        <%= button_to "Log out", session_url, :method => :delete %>
    <% else %>
      <%= button_to "Log in", new_session_url %>
      <%= button_to "Sign up", new_session_url %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
