<h1><%= @track.name %></h1>
<% if @track.track_type %>
  <p><%= @track.track_type.capitalize %> Track</p>
<% end %>

<h2>Band</h2>
<p><%= link_to @track.album.band.name,
               band_url(@track.album.band_id) %></p>

<h2>Album</h2>
<p><%= link_to @track.album.name, album_url(@track.album_id) %></p>

<h2>Lyrics</h2>
<%= show_lyrics(@track.lyrics) if @track.lyrics %>
</br>

<%= render 'notes/notes', :track => @track, :new_note => @note %>

<%= link_to "View all Tracks for this Album",
            album_tracks_url(@track.album_id) %>
<% if current_user.admin %>
 |
  <%= link_to "Edit this track", edit_track_url(@track) %>
<% end %>