<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if flash[:errors] && !flash[:errors].empty? %>
    <% flash[:errors].each do |error| %>
    <%= error %>
    <% end %>
    <% end %>


    <% if logged_in? %>
    Welcome <%= current_user.username %>!
    <%= button_to "Sign Out", session_url, :method => :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_url %>
    <% end %>

<%= yield %>

</body>
</html>
